/* Reset and utility class setup */

@font-face {
  font-family: "Roslindale";
  src: url("https://res.cloudinary.com/dp20bvzhn/raw/upload/v1725384495/willie-design/Roslindale-DisplayNarrowRegular-Testing_iplgko.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica 400";
  src: url("https://res.cloudinary.com/dp20bvzhn/raw/upload/v1725332448/willie-design/Neue_Haas_Unica_W1G_woofy5.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica 500";
  src: url("https://res.cloudinary.com/dp20bvzhn/raw/upload/v1725311631/willie-design/Neue_Haas_Unica_W1G_Medium_iny9c2.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica 800";
  src: url("https://res.cloudinary.com/dp20bvzhn/raw/upload/v1725311217/willie-design/Neue_Haas_Unica_W1G_Heavy_y6u3o0.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica 800 Italic";
  src: url("https://res.cloudinary.com/dp20bvzhn/raw/upload/v1725331274/willie-design/NeueHaasUnica-ExtraBoldItalic_pzpzty.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica 950";
  src: url("https://res.cloudinary.com/dp20bvzhn/raw/upload/v1725311218/willie-design/Neue_Haas_Unica_W1G_XBlack_It_ag1wti.woff2") format("woff2");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

:root {
  --gutter-width: 1vw;
  --column: 12;
  --column-width: calc(calc(100vw - (var(--gutter-width) * 13)) / var(--column));

  --ff-roslindale: "Roslindale", serif;
  --ff-nhu-400: "Neue Haas Unica 400", sans-serif;
  --ff-nhu-500: "Neue Haas Unica 500", sans-serif;
  --ff-nhu-800: "Neue Haas Unica 800", sans-serif;
  --ff-nhu-800-italic: "Neue Haas Unica 800 Italic", sans-serif;
  --ff-nhu-950: "Neue Haas Unica 950", sans-serif;

  --fc-black: hsla(0, 0%, 0%, 1);
  --fc-black-100: hsla(0, 0%, 7%, 1);
  --fc-grey-100: hsla(0, 0%, 0%, 0.1);
  --fc-white-100: hsla(0, 0%, 100%, 1);
  --fc-white-200: hsla(0, 0%, 100%, 0.4);
  --fc-grey-200: hsla(0, 0%, 100%, 0.24);
  --fc-grey-300: hsla(0, 0%, 100%, 0.1);
  --animation-primary: .9s cubic-bezier(1, 0, 0, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  width: 100vw;
  min-height: 100svh;
  overflow-x: clip;
  position: relative;
  background-color: white;
}

html {
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Grid layout overlay */

.overlay {
  opacity: 0;
  position: fixed;
  inset: 0;
  background-image: repeating-linear-gradient(to right,
      hsla(0, 100%, 50%, 0.103),
      hsla(0, 100%, 50%, 0.103) calc((100% / var(--column)) - var(--gutter-width)),
      transparent calc((100% / var(--column)) - var(--gutter-width)),
      transparent calc(100% / var(--column)));
  background-position: left top;
  background-size: calc(100% + var(--gutter-width)) 100%;
  z-index: 3;
  transition: opacity 0.3s ease;
  margin: 0 auto;
  pointer-events: none;
  max-width: 90rem;
  padding: 0 1vw;
}

.overlay.active {
  opacity: 1;
}

@media (max-width: 1439px) {
  .overlay {
    max-width: calc(100% - 2vw);
    padding: 0;
  }
}

/* Utility Class */
.uc-section-container {
  max-width: 90rem;
  margin: 0 auto;
}

.uc-fs13-fw950 {
  font-size: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
  font-family: var(--ff-nhu-950);
  font-weight: 950;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.uc-fs13-fw800 {
  font-size: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
  font-family: var(--ff-nhu-800-italic);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.uc-fs13-fw500 {
  font-size: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
  font-family: var(--ff-nhu-500);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--fc-black);
}

.uc-fs13-fw400 {
  font-size: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
  font-family: var(--ff-nhu-400);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.005em;
  color: var(--fc-black);
}

.uc-fs16-fw500 {
  font-size: clamp(0.875rem, 0.8421rem + 0.1754vw, 1rem);
  font-family: var(--ff-nhu-500);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.005em;
  color: var(--fc-white-100);
}

.uc-ffroslindale-fs48-fw400 {
  font-size: clamp(3rem, 3rem + 0vw, 3rem);
  font-family: var(--ff-roslindale);
  font-weight: 400;
  color: var(--fc-white-100);
  line-height: 1;
  letter-spacing: -0.02em;
}

.uc-ffnhu-fs48-fw800 {
  font-size: clamp(3rem, 3rem + 0vw, 3rem);
  font-family: var(--ff-nhu-800);
  font-weight: 800;
  color: var(--fc-white-100);
  line-height: 1;
  letter-spacing: -0.02em;
}

/* Page styling */
/* Header section */
.c-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--gutter-width);
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.001);
  mix-blend-mode: difference;
}

.c-header p,
.c-header a,
.c-header h2,
.c-header h1,
.c-header span,
.c-header button {
  color: white;
}

.c-header_container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter-width);
}

.c-header_container .author-wrapper {
  grid-column: span 3 / span 3;
  display: flex;
  flex-direction: column;
  gap: calc(20 / 16 * 1rem);
  height: fit-content;
}

[data-faded-out='true'] {
  transition: opacity 1s ease-out;
}

[data-faded-out='true'].is-faded_out {
  opacity: 0;
  pointer-events: none;
}

.c-header_container .header-link {
  text-decoration: none;
  position: relative;
  height: fit-content;
  grid-column: 5 / span 2;
  width: fit-content;
}

.enquires-wrapper {
  grid-column: 9 / 12;
  display: flex;
  flex-direction: column;
  gap: calc(20 / 16 * 1rem);
}

.enquires-wrapper .enquires-wrapper_heading {
  color: var(--fc-white-100);
}

.enquires-wrapper .nav-list_item {
  list-style: none;
}

.enquires-wrapper .nav-list_item .nav-item_link {
  text-decoration: none;
  position: relative;
  line-height: .9;
  display: inline-block;
  color: var(--fc-white-100);
}

.info-button {
  height: fit-content;
  margin: 0 0 0 auto;
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
  transition: transform .2s ease-out;

  grid-column: -1 / -3;
  position: fixed;
  right: var(--gutter-width);
  top: var(--gutter-width);
  z-index: 3;
}

.nav-item_link::before,
.info-button::before,
.project-link::before,
.c-header_container .header-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsla(165, 100%, 50%, 0.527);
  left: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--animation-primary);
  z-index: -1;
  will-change: transform;
  pointer-events: none;
}

.nav-item_link:hover::before,
.info-button:hover::before,
.project-link:hover::before,
.c-header_container .header-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.gmt-time {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: flex-start;
}

.gmt-time .time-timezone {
  position: absolute;
  left: 0;
  transform: translateX(-200%);
  line-height: 1;
  text-transform: uppercase;
  color: var(--fc-white-100);
}

.gmt-time .time,
.gmt-time .time span {
  line-height: .7;
  color: var(--fc-white-100);
}

.ticker {
  animation: blink .9s infinite;
  animation-timing-function: steps(2, jump-start);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Contact container */
.c-contact {
  position: fixed;
  bottom: 0;
  width: fit-content;
  padding: 0 var(--gutter-width) var(--gutter-width);
  background-color: rgba(255, 255, 255, 0.001);
  mix-blend-mode: difference;
  z-index: 3;
}

.c-contact_container {
  display: flex;
  gap: var(--gutter-width);
}

.menu,
.send-message {
  border: none;
  text-align: left;
  padding: 12px 1rem;
  background-color: var(--fc-grey-300);
  color: var(--fc-white-100);
  backdrop-filter: blur(10px);
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;
  border-radius: 2px;
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1), color 1s cubic-bezier(0.075, 0.82, 0.165, 1), transform .2s ease-out;
}

.send-message {
  width: calc(2.125 * var(--column-width));
}

.menu:hover,
.send-message:hover,
.menu:focus-visible,
.send-message:focus-visible {
  background-color: var(--fc-white-100);
  color: black;
  outline: none;
}

.c-contact_container .menu {
  display: none;
}

/* Main section */
.c-main {
  --clip-path-value: polygon(30% 5%, 70% 5%, 70% 100%, 30% 100%);
  width: 100vw;
  min-height: 100svh;
  background-color: var(--fc-black-100);
  padding-top: calc(212 / 16 * 1rem);
  position: relative;
  z-index: 2;
  clip-path: var(--clip-path-value);
}

.main-heading_wrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter-width);
  padding-inline: var(--gutter-width);
  padding-bottom: calc(74 / 16 * 1rem);
  background-color: var(--fc-black-100);
}

.c-main_container {
  position: relative;
}

/* Information Modal */
.c-main .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #020202;
  z-index: 10;
  padding: var(--gutter-width);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  /* transition: clip-path 1.4s cubic-bezier(1, 0, 0, 1); */
}

.modal.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.modal .modal-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.modal-header {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter-width);
  position: relative;
  z-index: 4;
}

.modal-header .modal-heading {
  grid-column: span 5 / span 5;
  line-height: 1.6;
}

.modal .modal-heading,
.modal .modal-heading span {
  font-size: clamp(0.875rem, 0.8421rem + 0.1754vw, 1rem);
  color: var(--fc-white-100);
  letter-spacing: 0.01em;
}

.modal-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}

.modal-footer .send-message {
  background-color: var(--fc-grey-200);
}

.modal-footer .left-content {
  display: flex;
  gap: 2px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.left-content .services {
  display: flex;
  flex-direction: column;
  gap: calc(28/16 * 1rem);
  width: calc(216 / 16 * 1rem);
}

.services .services-heading {
  width: 100%;
}

.services .services-heading,
.right-content p {
  cursor: auto;
  pointer-events: none;
}

.right-content p {
  width: fit-content;
}

.left-content .services .services-list_item {
  list-style: none;
  color: var(--fc-white-100);
}

.left-content .services .services-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modal-content .modal-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-body video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

/* Main content for the main section */
.main-heading {
  grid-column: 5 / 8;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.c-main_container .projects {
  background-color: var(--fc-black-100);
}

.projects-item {
  height: 100vh;
  position: relative;
  width: 100%;
  padding-top: calc(36 / 16 * 1rem);
}

.projects-item .projects-item_image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-item .projects-item_description {
  position: sticky;
  top: calc(-100px + var(--gutter-width));
  padding-inline: var(--gutter-width);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.001);
  mix-blend-mode: difference;
}

.projects-item .projects-item_description[data-first-description] {
  margin-top: 40vh;
}

.projects-item_description .sticky-wrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter-width);
}

.projects-item_description .description-title {
  grid-column: 9/11;
  text-wrap: nowrap;
}

.description-title .project-title {
  margin-bottom: .5rem;
  text-wrap: nowrap;
}

.description-title .project-attribution {
  margin-bottom: calc(36 / 16 * 1rem);
}

.description-title .project-link {
  text-decoration: none;
  position: relative;
}

.description-title .project-link[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.description-title .project-link[disabled]::before {
  display: none;
}

/* Slider */
.projects-item.slider .projects-item_description {
  position: sticky;
  top: calc(-100px + var(--gutter-width));
}

.projects-item.slider .slider-row {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-row .left-image_wrapper,
.slider-row .right-image_wrapper {
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
}

.slider-row .left-image_wrapper img,
.slider-row .right-image_wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-row .left-image_wrapper .controls {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.controls .prev-button,
.controls .next-button {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, filter .5s ease;
}

.controls .prev-button:hover,
.controls .next-button:hover {
  filter: invert(0.3);
}

.controls .prev-button:focus-visible,
.controls .next-button:focus-visible {
  border: 1px solid var(--fc-white-100);
  outline: none;
  border-radius: 5px;
}

.controls button:disabled {
  cursor: not-allowed;
}

.controls button:disabled:hover {
  filter: invert(0);
}

.controls button:active,
.menu:active,
.send-message:active,
.info-button:active {
  transform: scale(0.85);
}

.controls .prev-button img,
.controls .next-button img {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.controls .prev-button img {
  rotate: 180deg;
}

.controls .next-button img {
  margin: 0 0 0 auto;
}

@keyframes slide-left {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}

/* Mouse controls */
.mouse-controls {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
}

.mouse-controls .prev-control,
.mouse-controls .next-control {
  flex-basis: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.mouse-controls .mouse-controls_arrow {
  position: absolute;
  transform: translate(-100%, -100%);
  width: 3rem !important;
  height: 3rem !important;
  pointer-events: none;
  will-change: transform;
}

/* Footer */
.c-footer {
  width: 100%;
  background-color: var(--fc-white-100);
  padding: var(--gutter-width);
  position: sticky;
  bottom: 0;
  z-index: -1;
}

.c-footer .top-wrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter-width);
}

.top-wrapper .footer-wrapper {
  text-wrap: nowrap;
}

.c-footer .nav-item_link::before {
  z-index: 1;
}

.c-footer h2,
.c-footer span,
.c-footer a,
.c-footer p {
  color: var(--fc-black) !important;
}

.middle-wrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter-width);
  width: 100%;
  margin: calc(124/16 * 1rem) 0 calc(214/16 * 1rem);
}

.middle-wrapper .wrapper-heading,
.middle-wrapper .wrapper-link {
  font-size: clamp(3rem, 3rem + 0vw, 3rem);
  grid-column: span 4 / span 4;
  color: var(--fc-black);
  text-decoration: none;
}

.middle-wrapper .wrapper-link {
  width: fit-content;
  position: relative;
}

.middle-wrapper .wrapper-link::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--fc-black);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--animation-primary);
}


.middle-wrapper .wrapper-link:hover::before,
.middle-wrapper .wrapper-link:focus-visible::before {
  transform: scaleX(1);
  transform-origin: left;
}

.middle-wrapper .wrapper-link:hover,
.middle-wrapper .wrapper-link:focus-visible {
  outline: none;
  border: none;
}

.bottom-wrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter-width);
}

.bottom-wrapper .footer-author {
  grid-column: 9 / span 3;
}

.bottom-wrapper .footer-copyright {
  margin: 0 0 0 auto;
  text-wrap: nowrap;
}

.pin-spacer {
  background-color: var(--fc-black-100);
}

/* Responsive Design */
@media (max-width: 797px) {

  .info-send_message,
  .right-content p {
    display: none;
  }

  .modal-footer {
    gap: .5rem;
  }

  .modal-footer .left-content {
    align-items: flex-start;
    row-gap: 2rem;
  }

  .left-content .services {
    flex-basis: 48%;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .services .services-heading {
    padding: 0;
    background-color: transparent;
    opacity: 0.4;
  }

  .left-content {
    justify-content: space-between;
    width: 100%;
  }

  .left-content .services {
    flex-basis: 30%;
  }

  .c-main {
    clip-path: unset;
  }

  .projects-item .projects-item_description,
  .projects-item.slider .projects-item_description {
    top: var(--gutter-width);
  }

  .mouse-controls {
    display: none;
  }

  .slider-row .left-image_wrapper .controls {
    display: flex;
  }

  .projects-item .projects-item_description[data-first-description] {
    margin-top: 0vh;
  }
}


@media (max-width: 747px) {

  .c-contact_container .menu,
  .c-contact_container .send-message {
    width: fit-content;
  }
}

@media (max-width: 509px) {
  .projects-item.slider {
    height: 120vh;
  }

  .slider-row {
    flex-direction: column;
  }

  .slider-row .left-image_wrapper,
  .slider-row .right-image_wrapper {
    flex-basis: 100%;
    position: relative;
    height: 60vh;
  }

  .bottom-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin: 0 0 0 auto;
    width: fit-content;
    align-items: flex-end;
  }

  .bottom-wrapper .footer-author {
    grid-column: unset;
  }

  .bottom-wrapper .footer-copyright {
    margin: unset;
    text-wrap: nowrap;
  }

  .middle-wrapper {
    display: flex;
    justify-content: space-between;
    gap: .7rem;
    flex-direction: column;
    margin: calc(100/16 * 1rem) 0 calc(100/16 * 1rem);
  }

  .middle-wrapper .wrapper-heading,
  .middle-wrapper .wrapper-link {
    grid-column: unset;
  }
}

@media (max-width: 400px) {
  :root {
    --column: 4;
    --gutter-width: 3vw;
  }

  .overlay {
    max-width: calc(100% - 6vw);
    padding: 0;
  }

  .c-header_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info-button,
  .gmt-time,
  .author-wrapper_title {
    display: none;
  }

  .c-contact_container {
    display: flex;
    gap: calc(var(--gutter-width) / 2);
  }

  .c-contact_container .menu {
    display: block;
  }

  .main-heading_wrapper,
  .projects-item_description .sticky-wrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .main-heading {
    grid-column: 1/4;
  }

  .projects-item_description .description-title {
    grid-column: 3/5;
  }

  .c-main .modal {
    position: fixed;
    transition: clip-path 1.8s cubic-bezier(1, 0, 0, 1);
  }

  .modal .modal-heading {
    max-width: 100%;
    padding-top: 17vh;
  }

  .modal-footer h3,
  .modal-footer li {
    font-size: 10px !important;
  }

  .modal-footer {
    bottom: 9vh;
  }

  .modal-body video {
    height: auto;
  }

  .c-header_container .author-wrapper.is-removed {
    opacity: 1;
  }

  .left-content .services {
    width: 30%;
  }

  .modal-header {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .modal-header .modal-heading {
    padding-top: 0;
  }

  .enquires-wrapper {
    width: fit-content;
    margin: 0 0 0 auto;
  }

  [data-faded-out='true'].is-faded_out {
    opacity: 1;
  }

  .header-link[data-faded-out='true'].is-faded_out {
    opacity: 0;
  }
}